
@{
    Layout = null;
}
@model List<AracKiralama.Models.Arac>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        @foreach (var item in Model)
        {
            <h1>@item.Model</h1>
        }
    </div>
</body>
</html>
